<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión | Superbike</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">    
</head>

<body class="auth-body">

    <div id="mensaje-login" class="toast error">
        <div class="toast-icon">✖</div>
        <div class="toast-text">
            <h4>Error</h4>
            <p>Correo o contraseña incorrectos.</p>
        </div>
        <div class="toast-bar"></div>
    </div>

    <div class="auth-container">
        <form id="loginForm" class="auth-card">
            <h1>Iniciar Sesión</h1>
            <p>Bienvenido nuevamente a Superbike</p>
            <input type="email" name="email" placeholder="Correo electrónico" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <button type="submit">Ingresar</button>
            <span>
                ¿No tienes cuenta?
                <a href="registro.html">Regístrate</a>
            </span>
        </form>
    </div>

    <script>
        const login = document.getElementById("loginForm");
        login.addEventListener("submit", function (e) {
            e.preventDefault();
            const datos = new FormData(this);
            fetch("", {
                method: "POST",
                body: datos
            })
                .then(res => res.text())
                .then(respuesta => {
                    if (respuesta.trim() == "ok") {
                        window.location.href = "index.html";
                    } else {
                        const mensaje = document.getElementById("mensaje-login");
                        mensaje.classList.add("error");
                        mensaje.style.display = "block";
                        const barra = mensaje.querySelector(".toast-bar");
                        barra.style.animation = "none";
                        barra.offsetHeight;
                        barra.style.animation = "barra 2.5s linear forwards";
                        setTimeout(() => {
                            mensaje.style.display = "none";
                        }, 2500);
                    }
                });
        });
    </script>

</body>

</html>